
.button {
    padding: $s-size;
    color: #FFF;
    background: $blue;
    border: none;
    border-radius: 4px;
    font-size:  $font-size-large;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button__secondary{
    background: #888;
}

.button__link {
    background: none;
}