.header {
    height: 56px;
    background: linear-gradient(150deg,  #a09090, #1e2d5d);
}

.header__content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header__title{
    color: #FFF;
    text-decoration: none;
    transition: margin-left 1s;
    h1{
        margin: 0;
    }
    @media(max-width: $desktop-breakpoint) {
        margin-left: 50px;
    }
}

.header-image {
    margin: 0px;
    margin-left: 80px;
    height: 64px;
}