.text-input {
    border: 1px solid #CACCCD;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}

.DateInput {
    background: none !important;
}

.header__content{
    input, select, .DateRangePickerInput, input::placeholder{
        background: #494e5a;
        border: none;
        color: #fff !important;
        border-radius: 15px;
    }
}