.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(150deg,  #a09090, #818fb9);
    overflow-x: hidden;
    transition: 1s;
    padding: 0;
    margin: 0px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.menu a {
    padding: 22px 22px 22px 22px;
    text-decoration: none !important;
    font-size: 14px;
    color: #e7e3e3;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.menu svg {
    width: 5rem !important;
}

.menu a:hover {
    color: #bed6f3;
    background-color: #1d2029;
    padding-left: 42px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#app {
    transition: margin-left 1s, opacity 1s;
}

body{
    overflow-x: hidden;
    background: linear-gradient(150deg, #aaa, #666, #111, #000,#475c90);
}

.appBody {
    overflow-x: hidden;
    transition: margin-left 1s, opacity 1s;
    min-height: 100vh;
    background: #fff;
    @media(max-width: $desktop-breakpoint){
        overflow: hidden;
    }
}

.appBody * {
    @media(max-width: $desktop-breakpoint){
        overflow: none;
    }
}

.open-menu-button {
    color: #FFF;
    font-size: 4rem;
    position: absolute;
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    transition: opacity 1s;
}


@media(max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}