.user-info{
    width: 100%;
    height: 80px;
    margin: 0px;
    background: #484052;
    display: inline-block;
}

.user-image {
    height: calc(100% - 24px);
    margin: 12px;
    border-radius: 50%;
    border: 2px solid rgb(99, 125, 143);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-text {
    width: calc(100% - 80px);
    float: right;
    h3{
        color: #d1ced4;
        white-space: nowrap;
        font-size: 1.5rem;
    }
    p{
        font-size: 1.2rem;
        color: #cabbda;
        margin: 0px;
        margin-top: -20px;
        white-space: nowrap;
    }
}

